services:
  comfyui:
    build:
      context: .
      dockerfile: Dockerfile
    image: nikiakbar/comfyui-wsl:latest
    
    container_name: comfyui_wsl
    
    # Restart automatically if it crashes
    restart: unless-stopped

    # Port mapping (Host : Container)
    ports:
      - "8188:8188"

    ## Volume Mappings
    ## Creates a 'comfyui-data' folder next to this file on your host
    volumes:
      - /mnt/x/comfyui/models:/app/models
      - /mnt/z/sdforge/models/Stable-diffusion:/app/models/checkpoints/t2i

      - /mnt/z/Locals/system/outputs/comfyui:/app/output
      - /mnt/x/comfyui/input:/app/input
      
      - /mnt/x/comfyui/custom_nodes:/app/custom_nodes
      
      # Optional: Persist pip cache to speed up rebuilds
      - ./comfyui-data/cache:/root/.cache/pip

    # # Environment variables (Optional overrides)
    environment:
      - CLI_ARGS=--listen 0.0.0.0 --port 8188 --preview-method auto

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]